:root {
    --main-color: #2196f3;
    --main-color-alt: #3a6cf4;
    --main-transition: 0.5s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: 'Poppins', sans-seri;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
 .main-title{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    color: var(--main-color);
  }
  /* start header */
  .header{
    position: fixed;
    background-color: #f0f0f0;
    width: 100%;
    z-index: 999;
  }
  .header .container{
    display: flex;
    justify-content: space-between;
  }
  .header .container .logo h1{
    font-weight: 700;
    font-size: 30px;
    color: var(--main-color);
    text-transform: uppercase;
  }
  .header .container .links{
    padding-top: 10px;
  }
  .header .container .links ul{
    display: flex;
  }
  .header .container .links ul li{
    padding-left: 50px;
    list-style: none;
  }
  @media(max-width:787px)
  {
    .header .container .links{
        display: none;
    }
    .header .container .logo{
       width: 100%;      
    }
    .header .container .logo h1{
        font-size: 25px;
       font-weight: 700;
       text-align: center;
    }
  }
  .header .container .links ul li a{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    font-size: 18px;
    transition: var(--main-transition);
  }
  .header .container .links ul li a:hover{
    color: blue;
    font-size: 20px;
  }
  /* End header */
  /* start section */
  .section{
    padding-top: 100px;
    display: flex;
    align-items: center;
   min-height: 100vh; 
   background: url(../imags/20.jpg) no-repeat;
   background-size: cover;
   /* background-position:  right; */
    background-attachment: fixed;
  }
  @media(max-width:787px)
  {
    .section{
      background-image: url(../imags/photo-1618022325802-7e5e732d97a1.jpeg);
      text-align: center;
    }
  }
  .section .title h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
  }
  .section .title h2 span{
    color: var(--main-color);
    font-size: 3em;
    font-weight: 600;
    display: inline-block;
    margin-top: 30px;
  }
  .section .title h3{
    color: white;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .section .title a{
    color: white;
    text-decoration: none;
    background-color: var(--main-color-alt);
    padding: 15px 30px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 1.1em;
    transition: var(--main-transition) ease;
}
.section .title a:hover{
    background-color: blue;
    transform: scale(1.1);
}

.section .social a{
    color: white;
    padding-right: 30px;
    font-size: 20px;
    transition: var(--main-transition);
}
.section .social a:hover{
    color: blue;
    font-size: 23px;
}
  /* End section */
  /* start services */
  .services{
    margin-top: 50px;
    position: relative;
    width: 100%;
  }
  .services .container{
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
  }
  @media(max-width:992px){
    .services .container {
        display: block;
    }
  }
  @media(max-width:787px)
  {
    
    .services .container{
      width: 80%;
    }
  }
  .services .container .card{
    text-align: center;
    box-shadow: 0 5px 25px rgb(1 1 1 /15%);
    padding: 50px;
    margin-bottom: 100px;
    margin-top: 10px;
    transition: var(--main-transition);
    border-radius: 15px;
  }
  .services .container .card:hover{
    transform: scale(1.1);
  }
  .services .container .card i{
    color: var(--main-color);
    font-size: 100px;
    margin-bottom: 50px;
  }
  
  .services .container .card h3{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
  }
  .services .container .card p{
    line-height: 2;
    color: #777;
  }
  /* End services */
  /* start projects */
  .projects{
    margin-top: 50px;
    background-color: #000016;
    padding-top: 50px;
    width: 100%;
  }
  .projects .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px ,1fr));
    gap: 30PX;
    padding-top:150px;
    padding-bottom: 100px;
  }
  @media(max-width:787px)
  {
    .projects .container{
      width: 80%;
    }
  }
  .projects .container img{
    width: 100%;
    border-radius: 10px;
    
  }
  
  .projects .container .card{
    background-color: white;
    border-radius: 10px;
    transition: var(--main-transition);
    border: 3px solid white;
  }
  .projects .container .card:hover{
    transform: translateY(-10px);
  }
  .projects .container .card:hover i{
    animation: moving-arrow 0.6s linear infinite;
  }
  @keyframes moving-arrow{
    100%{
      transform: translateX(10px);
    }
  }
  .projects .container .card h3{
    color: #000016;
    padding:0 20px;
    text-align: center;
    font-weight: 300;
  }
  .projects .container .card hr{
    color: rgb(201, 190, 190);
  }
  .projects .container .card .text{
    display: flex;
    justify-content: space-between;
    padding:20px 20px;

  }
  .projects .container .card .text i{
    color: var(--main-color);
  }
  .projects .container .card .text a{
    text-decoration: none;
    color: var(--main-color);
    font-weight: 600;
    transition: var(--main-transition);
  }
  
  /* End projects */
  /* start contact */
  .contact{
    margin-top: 50px;
  }
  .contact .container{
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media(max-width:787px)
  {
    .contact .container{
        display: block;
    }
  }
  .contact .container .card{
    text-align: center;
    box-shadow: 0 5px 25px rgb(1 1 1 /15%);
    padding: 50px;
    margin-bottom: 100px;
    margin-top: 10px ;
    transition: var(--main-transition);
    border-radius: 15px;
    width: 300px;
    margin-left: 20px;
    transition: var(--main-transition);
  }
  @media(max-width:787px)
  {
    .contact .container .card{
       margin: 30px auto;
    }
  }
  .contact .container .card:hover{
    transform: scale(1.1);
    
  }
  .contact .container .card i{
    font-size: 30px;
    color:var(--main-color);
  }
  .contact .container .card p{
    color: #777;
  }
  /* End contact */
  /* start footer */
  .footer{
    background-color: #000016;
    padding: 20px;
    text-align: center;
  }
  .footer p{
    color: white;
  }
  .footer p span{
    color: var(--main-color);
    font-weight: 800;
    
  }
  /* End footer */